{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <fieldset class="well the-fieldset">
        <legend > Modifier Password:</legend>
        {% form_theme form ":FormTemplate:bootstrap.html.twig" %}

        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            {{ form_widget(form) }}
            </br>

            <div>
                <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-danger"  />
            </div>
        </form>

    </fieldset>

</div>

