<html>
  {{ render (controller("SRVDVServerBundle:Default:nombreInscription", { 'id': 47 })) }}



  {% if profile is defined %}
    <P style="color:green;" >Votre profile a été  modifié avec success !</P>
    {% else %}
    {% block fos_user_content %}
      {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    {% endblock fos_user_content %}
  {% endif %}
  {% include "SRVDVServerBundle:admin:footerAdmin.html.twig" %}