<!DOCTYPE html>
<html lang="fr">
<head>
	<title>SVEDI - Enseignant</title>
	<link rel=stylesheet type="text/css" href="http://localhost:8181/serveurdevoeux/web/assets/css/home.css"/>
	<link rel=stylesheet type="text/css" href="http://localhost:8181/serveurdevoeux/web/bootstrap/css/bootstrap.min.css"/>
	<script type="text/javascript" src="http://localhost:8181/serveurdevoeux/web/assets/javascript/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="http://localhost:8181/serveurdevoeux/web/assets/javascript/search.js"></script>
	<script type="text/javascript" src="http://localhost:8181/serveurdevoeux/web/assets/javascript/VerifFormulaire.js"></script>
	<script type="text/javascript" src="http://localhost:8181/serveurdevoeux/web/assets/javascript/Desinscription.js"></script>
	<script type="text/javascript" src="http://localhost:8181/serveurdevoeux/web/assets/javascript/Notification.js"></script>


<link rel=stylesheet type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
<link rel=stylesheet type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.min.css"/>
<script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js"></script>

		<script type="text/javascript" src="http://localhost:8181/serveurdevoeux/web/assets/javascript/isResp.js"></script>;
	<script type="text/javascript" src="http://localhost:8181/serveurdevoeux/web/assets/javascript/Resp.js"></script>;
	
	<style>
	
		.centreVerticalement {
		display: inline-block;
		vertical-align: top;
		float: none;
		}


</style>
	
</head>
<body>



<header>
<div id="logo">
<<<<<<< HEAD
	<a href="http://localhost:8181/serveurdevoeux/web/app_dev.php/home/"><img alt="svedi" src="http://localhost:8181/serveurdevoeux/web/assets/images/SVEDI-small.png"/></a>
=======
	<a href="../controleurHome/"><img alt="svedi" src="http://localhost:8181/serveurdevoeux/web/assets/images/SVEDI-small.png"/></a>
>>>>>>> c42f38fdc8f038834e4adf77a1d6da15dfccc51c
</div>
<div id="searchBar">
		<form id="newsearch" method="get" action="../controleurRecherche/">
		        <input type="text" value="" class="textinput" name="search" size="35" maxlength="120"><input id="btnLoupe" type="submit" value="" class="buttonSearch">
		        <img id="loupeSearchBar" alt="loupe" src="http://localhost:8181/serveurdevoeux/web/assets/images/loupe.png"/>
		</form>

</div>

<p id="deconnexion">
	<a href="http://localhost:8181/serveurdevoeux/web/app_dev.php/enseignant/inscription">Enseignant </a>
	<a href="http://localhost:8181/serveurdevoeux/web/app_dev.php/responsable/inscription">Responsable</a>
	<a href="http://localhost:8181/serveurdevoeux/web/app_dev.php/admin/users">Admin</a>
</p>

</header>





